<ion-header>
  <ion-navbar color="navbar">
    <ion-title>Patient Information</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="patient">

	<div class="high-performance-frame"></div>

  	<ion-list style="padding-top: 20px;">
  		<ion-list-header [ngClass]="ageStyle">
  			Age: {{age}}
  		</ion-list-header>
    	<ion-item>
	      	<ion-range [(ngModel)]="age" [disabled]="ageSubmitted">
	        	<ion-icon range-left small name="body"></ion-icon>
	        	<ion-icon range-right name="body"></ion-icon>
	      	</ion-range>
    	</ion-item>

  	</ion-list>

  	<div text-center class="validation">
  		<button ion-button outline color="default" (click)="resetAge()">Reset</button>
  		<button ion-button color="default" [disabled]="ageSubmitted" (click)="validateAge()">Enter</button>
  	</div>

  	<div *ngIf="ageValid">
	  	<ion-list radio-group>

	  		<ion-list-header [ngClass]="fastingStyle">Fasting</ion-list-header>

	  		<ion-item>
	  	  		<ion-label color="dark">Unsure</ion-label>
	      		<ion-radio [disabled]="fastingSelected" value="unsure" checked></ion-radio>
	  		</ion-item>

	  		<ion-item>
	  			<ion-label color="dark">Fasting</ion-label>
	  			<ion-radio  value="fasting"></ion-radio>
	  		</ion-item>

	  		<ion-item>
	  			<ion-label color="dark">Nonfasting</ion-label>
	  			<ion-radio [disabled]="fastingSelected" value="nonfasting"></ion-radio>
	  		</ion-item>
	  		
	  	</ion-list>

	  	<div text-center class="validation">
	  		<button ion-button outline color="default" (click)="resetFasting()">Reset</button>
	  		<button ion-button color="default" [disabled]="fastingSelected" (click)="validateFasting()">Enter</button>
	  	</div>
  	</div>

  	<div *ngIf="ageValid && fastingValid">
	  	<ion-list>
	  		<ion-list-header [ngClass]="cholesterolStyle">Cholesterol</ion-list-header>

	  		<ion-item>
	  			<ion-label color="dark">HDL</ion-label>
	    		<ion-input type="number" placeholder="0"></ion-input>
	  		</ion-item>

	  		<ion-item>
	  			<ion-label color="dark">Non-HDL</ion-label>
	    		<ion-input type="number" placeholder="0"></ion-input>
	  		</ion-item>

	  		<ion-item>
	  			<ion-label color="dark">Total</ion-label>
	    		<ion-input type="number" placeholder="0"></ion-input>
	  		</ion-item>

	  	</ion-list>

	  	<div text-center class="validation">
	  		<button ion-button outline color="default">Reset</button>
	  		<button ion-button color="default" (click)="validateCholesterol()">Enter</button>
	  	</div>
  	</div>



</ion-content>
