page-home {

	.ageReadout {
		border-bottom: 0px !important;
		border-top: 0px !important;
	}

	.patient {
		background-color: #efeff4;
	}

	.validation {
		margin-bottom: 30px;
	}

	.defaultAge {
		background-color: #efeff4;
	}

	.validAge {
		background-color: #32db64;
	}

	.validFasting {
		background-color: #32db64;
	}

	.validCholesterol {
		background-color: #32db64;
	}

	.text-valid {
		background-color: #32db64;
	}

	.text-warning {
		background-color: #f7f30e;
	}

	.text-default {
		background-color: #efeff4;
	}


}


